/***Basis-Anweisungen
********************************************/


/* Footer
***************************************************/

	.paragraph--type--download-app { margin: 0px 0px 90px 30px; }
	.paragraph--type--download-app article {
    width: 110px; height: 110px; float: left; background: #7d8489; margin: 40px 20px 0px 0px; border-radius: 360px;
	}
	.paragraph--type--download-app h2 {
		color: #fad151; margin: 0px; font-size: 1.3em;
	}
.paragraph--type--download-app p {
		color: #FFF; margin: 30px 0px 0px 0px;
	}

.paragraph--type--download-app article:hover {
	background: #fad151; cursor: pointer;
}

.paragraph--type--download-app article img {
	width: 90px; height: 90px; transition: all 0.3s; margin: 10px;
}
.paragraph--type--download-app article:hover img {
	width: 100px; height: 100px; margin: 5px 0px 0px 5px;
}

/* Topper */
.to-the-top{
  position: fixed; right: 30px; top: 75%;
  width: 50px; height: 50px;
  display: none;
}
.to-the-top a{
	display: block;
	width: 100%; height: 100%;
	border: 1px solid transparent;
	background: transparent;
	border-radius: 50%;
	transition: all 0.6s;
}
.to-the-top .topper_arrow img{ width: 36px; margin-left: 10%; margin-top: 12px; }
.to-the-top a:hover{
	border: 1px solid #fff;
	background: #fff;
}
.to-the-top .topper-text{ display: none; }

.slide__data a { display: none; }
.slide__link {  width: 100%; }
.slide__data .slide__link a{ color: #FFF; border: 1px solid #FFF; padding: 14px 20px; border-radius: 36px; display: inline-block; font-size: 1.2em; }
.slide__link a:hover { background: rgba(255,255,255,0.2); }

.ui-tooltip { font-size: 80%; min-width: 340px; }
.ui-tooltip li { margin-bottom: 4px; }
.ui-tooltip ul { margin: 4px 0px 6px 0px; }

.cc_container {
    border-radius: 0px!important;
    padding-bottom: 57px!important;
    left: 20px!important;
    right: auto!important;
    font-size: 0.8em!important;
    border: none!important;
    background-color: #fad151!important;
    box-shadow: none!important;
		font-family: "Assistant-Regular", Helvetica, Arial, sans-serif!important;
}

.cc_container .cc_btn {
    background-color: #1f2223!important;
    text-transform: uppercase;
    border: none!important;
    border-radius: 360px!important;
    bottom: 15px!important;
        color: #FFF!important;
				font-family: 'Assistant-Bold'!important;
				font-size: 1.1em!important;
}

.cc_container .cc_message {
    color: #1f2223!important;
}

.cc_logo {
    display: none!important;
}

.cc_more_info {
    color: #1f2223!important; text-decoration: underline!important;
}

/* Footer Reihen */

.footer{
    background: #fad151;
    color: #000;
    padding-bottom: 80px;
      padding: 0px 0px 40px 0px;

 font-size: 90%;
 position: relative;
 overflow: hidden;
 width: 100%;
  }

footer .wrapper {  overflow: hidden; }

#block-views-block-firmendaten-block-2, .copy span { float: left; display: inline-block; margin-right: 6px; }

.footer-line {
	position: relative;
	overflow: hidden;
	width: 100%;
	  background: #fad151;
		height: 300px;
		  margin-top: 110px;
}

.footer-line::before {
background: #2e3133;
  bottom: 100%;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  right: 0;
	   transform-origin: 100% 100%;
  transform: rotate(-4.5deg);
	 	width: 450%;
  z-index: 1;
}

.footer, .footer a, .footer p, .footer span, .footer h2, .footer strong{ color: #1f2223; }
.footer a { text-decoration: underline; }
.footer a:hover{ color: #fff; }
.footer p { margin-bottom: 12px;}
.footer strong { margin-bottom: 0px; text-decoration: none; font-family: 'Assistant-Bold'; }
.footer a.is-active { color: #FFF; }
.footer a:hover { text-decoration: underline; }
.footer-kontakt-row .small{ font-size: 0.8em; font-weight: 300;  }


.text.zweispaltig {column-count:2; column-gap: 40px; }
.footer1 { width: 60px; margin-right: 30px; }
.footer-kontakt { width: 280px; margin-right: 30px; }
.footer2 { width: calc(100% - 400px); }
.footer2 p { width: calc(100% - 280px); font-family: 'Assistant-Bold'; }
#front-webform { width: calc(100% - 520px); margin-left: auto; }

.path-frontpage .footer1, .path-frontpage .footer-kontakt{ margin-top: 80px; }
.app-icon { background-color: #1f2223; border-radius: 360px; width: 120px; height: 120px; background-size: 70px 70px; background-position: center center; background-repeat: no-repeat;margin-right: 20px; transition: all 0.6s; }

.app-icon:hover { background-color: #7d8489/*#9ca4a9*/; cursor: pointer; background-size: 75px 75px; }

.footer-bottom{ padding: 0px 0px 80px 0px; margin-top: 40px; width: 100%; padding-top: 30px;}
.footer-bottom #block-fusszeile a { text-transform: uppercase; font-family: 'Assistant-Bold'; text-decoration: none; }
.bottom-nav li{ display: inline-block; padding-right: 15px; font-size: 1em; }



/* Startseite
********************************************/

/* Prev/ Next */
.slick{ position: relative; }
.slick__arrow { position: absolute; left: 0px; top: 60%; width: 100%; padding: 0px; }
.page-node-8 .slick__arrow { position: relative; width: 20%; float: right; margin-top: 80px; }

.slick__arrow button.slick-arrow{
  position: absolute;
  width: 30px; height: 30px;
	padding: 0px;
  background-size: 30px 30px;
  color: transparent;
  border: none;
 }
 .slick-prev.slick-arrow{ left: 0px; background: transparent url('../images/icons/Slider-Pfeil_gelb-links.svg') no-repeat; }
 .slick-next.slick-arrow{ right: 0px; background: transparent url('../images/icons/Slider-Pfeil_gelb-rechts.svg') no-repeat; }
 /* Extra fuer Unternehmen */
 .page-node-9 .slick-prev.slick-arrow{ margin-left: 10px; }
 .page-node-9 .slick-next.slick-arrow{  margin-right: 10px; }
 /* Extra fuer Leistungen */
 .page-node-8 .slick-prev.slick-arrow{ margin-left: 10px; }
 .page-node-8 .slick-next.slick-arrow{ margin-right: 10px; }

.slick__arrow button.slick-arrow:hover { cursor: pointer; }

.page-node-8 .slick__slider { position: relative; width: 80%; float: left; }


.flexbox-container {
  display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 justify-content: space-between;
}
.paragraph--type--_er-bereich .flexbox-container .column1, .paragraph--type--_er-bereich .flexbox-container .column2 {
  box-sizing: border-box;
  margin-bottom: 10px;
  width: calc(1/2*100% - (1 - 1/2)*70px);
 }

 .path-frontpage .paragraph--type--_er-bereich .flexbox-container .column1, .path-frontpage .paragraph--type--_er-bereich .flexbox-container .column2 {
  margin-bottom: 0px;
  width: calc(1/2*100% - (1 - 1/2)*20px);
 }

  .path-frontpage .paragraph--type--_er-bereich, .path-frontpage .paragraph--type--teaser {
  	margin: 0px 0px 10px 0px;
  }

@media only screen and (max-width: 789px) {
   .flexbox-container { display: block; }
   .paragraph--type--_er-bereich .flexbox-container .column1, .paragraph--type--_er-bereich .flexbox-container .column2 { width: 100%; }
}

/* Extra fuer die Programmierung */

.ausklappbar { position: relative; overflow: hidden; margin-bottom: 20px; }
.ausklappbar-wrapper .clicker:hover { cursor: pointer; }

.ausklappbar p.open, .ausklappbar p.under_open{ display: block; }
.ausklappbar .clicker{
  font-size: 1.4em;
  cursor: pointer;
  transition: all 0.3s;
}
.clicker span {  color: #262861!important; }
.ausklappbar .clicker .click_arrow{
  display: inline-block;
  position: absolute; bottom: 0px;
  margin-bottom: 0px;
  margin-left: 5px;
  width: 20px; height: 20px;
  background: url('../images/new/arrow_alex_schwarz.svg') no-repeat;
  background-size: cover;
  transform: rotate(90deg);
}
.ausklappbar .clicker .click_arrow.hoch{ transform: rotate(-90deg); }

/* Typ Modell Webform / page-node-type-auto-miete Webform*/
.popup{
  position: fixed; top: 10%; left: 7%;
  width: 86%; height: 80vh;
  display: none;
  z-index: 4000;
  border-radius: .5em;
  overflow-y: scroll;

}
.popup .form-container {
  max-width: 1200px; margin: 0px auto;
}


.popup #edit-actions { width: 100%; display: block; margin-bottom: 20px; }
.popup select, .popup input, .popup textarea {  }
.popup input[type="checkbox"].form-checkbox + label.option { font-family: 'Lato-Reg'; text-transform: none; display: inline-block; margin: 0px 0px 0px 0px; }
.popup input, .popup textarea { width: 96%; }
.popup .form-type-webform-terms-of-service { margin: 12px 0px 12px 0px; }

/* Webform popup */

  /* Closer */
  .close-btn{
    position: absolute; right: 20px; top:20px;
    padding: 6px 8px;
    color: #262861;
    line-height: 1;
    font-size: 2.5em;
    z-index: 205;
    font-family: 'Lato-Bold';
    cursor: pointer;
    transition: all 0.3s;
    display: none;
  }
  .close-btn:hover{margin-left: 5px; transform: scale(1.1); }

	/* Vorteile - Technologie
	/**************************************************************/

	/* Link ausschalten */
	.page-node-7 .paragraph--type--teaser .link-absolute, .page-node-6 .paragraph--type--teaser .link-absolute{  display: none; }

/************************************************************************/

@media only screen and (max-width: 1900px) {

.footer-line {
	height: 200px;
}
}

/* MOBIL
**********************************************************/
@media only screen and (min-width: 1291px) and (max-width: 1390px) {


}

@media only screen and (min-width: 1201px) and (max-width: 1290px) {


}

@media only screen and (min-width: 1025px) and (max-width: 1200px) {


}


@media only screen and (min-width: 0px) and (max-width: 1024px) {

  footer { font-size: 80%;}
}

@media only screen and (min-width: 0px) and (max-width: 600px) {
		.page-node-type-ratgeber::before {
		width: 350px;
		height: 245px;
	  background-size: 350px 245px;
	}
}


 @media only screen and (min-width: 0px) and (max-width: 1200px) {
	 #front-webform {
	     width: calc(100% - 400px);
}

 @media only screen and (min-width: 769px) and (max-width: 1024px) {
  .footer2 {
    width: calc(100%);
  }
}

 @media only screen and (min-width: 0px) and (max-width: 768px) {
	.flexbox-container { display: block; }
	.footer1 { float: left; width: 10%; margin-right: 5%; }
	.footer-kontakt { float: left; width: 85%; margin: 0px 0px 40px 0px; }
	.text.zweispaltig { column-count: 1; column-gap: 0px; }
	.footer { font-size: 100%; }
	.footer2 {
		width: 100%;
		display: flex;
		flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	}
	.footer2 .app-icon {
    width: 90px; height: 90px; background-size: 50px 50px;
	}
	.footer2 p {
    width: calc(100% - 220px);
}


.footer .column { float: none; }

}

@media only screen and (max-width: 900px) {

#front-webform {
	display: block;
	width: 100%;
	clear: both;
}

.path-frontpage .footer1, .path-frontpage .footer-kontakt{ margin-top: 0px; margin-bottom: 50px; }
.footer-kontakt { width: calc(100% - 120px); }

}

@media only screen and (max-width: 790px) {

 .paragraph--type--_er-bereich .flexbox-container .column1, .paragraph--type--_er-bereich .flexbox-container .column2 {
  width: 100%;
 }

.path-frontpage .paragraph--type--_er-bereich .flexbox-container .column1, .path-frontpage .paragraph--type--_er-bereich .flexbox-container .column2 {
  width: 100%;
 }



.footer-line {
	height: 160px;
}

}

 @media only screen and (max-width: 480px) {

	 /* Visitenkarte */
	 .page-node-8 .slick__slider{ width: 70%; }
	 .page-node-8 .slick__arrow{ width: 30%; }

 .slick__arrow{ top: 40%; }
}
