
.form-container fieldset {
	position: relative; float: left; width: 100%; border: none; overflow: hidden; clear: both;
}

.form-container input, .form-container select { background: transparent; border-bottom: 1px solid #9ca4a9; opacity: 1; width: 90%; padding: 12px 0px; margin-bottom: 12px; color: #9ca4a9; }
.form-container textarea { background: transparent;  border-bottom: 1px solid #9ca4a9; padding: 12px 0px; margin-bottom: 30px; color: #9ca4a9; width: 100%; }
.form-container .button:hover { cursor: pointer; background: #7fd135; border: 1px solid #7fd135; color: #FFF; }
.form-container label { display: block; margin-bottom: 4px; }
.form-type-webform-terms-of-service { float: left; width: calc(100% - 212px); }

input::placeholder, textarea::placeholder { opacity:1; }

#front-webform .form-container input, .path-frontpage .form-container select, .path-frontpage .form-container textarea { border-bottom: 1px solid #1f2223; color: #1f2223; opacity:1; }
 #edit-actions-submit { background: #1f2223; color: #FFF; }
 #edit-actions-submit:hover{ background: #fff; color: #1f2223; }
#front-webform .form-item-message { width: 100%; }
#front-webform .form-item-firma { display: none; }
#front-webform .fieldset-wrapper .form-item-name, .path-frontpage .fieldset-wrapper .form-item-email { width: 48%; float: left; }
#front-webform #edit-kundendaten .fieldset-wrapper {
display: flex; flex-direction: row;
flex-wrap: wrap;
justify-content: space-between;
}
#front-webform .form-container fieldset { float: none; clear: none; }
#front-webform h3 { margin: 0px 0px 40px 0px; color: #1f2223; font-family: 'Assistant-Bold'; font-size: 1.4em; }

#edit-terms-of-service-dsgvo { float: left; margin-right: 10px; margin-top: 20px;  }
.form-type-webform-terms-of-service label { float: left; display: inline-block; font-size: 0.85em; margin-top:17px; line-height: 1.1em; }
#edit-actions { float: right; margin-left: 12px; }
#edit-actions input { background: #fad151; color: #1f2223; margin-top: 20px; border: none; border-radius: 360px; padding: 16px 0px; width: 200px;
	text-align: center; font-size: 1.1em; font-family: 'Assistant-Bold'; text-transform: uppercase; }
#front-webform #edit-actions input{ background: #000; color: #fff; }
#front-webform #edit-actions input:hover{ background: #fff; color: #000; }

input[type="checkbox"] {
    display:none;
}
input[type="checkbox"] + label::before {
  width: 30px;
  height: 30px;
	margin-top: -7px;
  border-radius: 0px;
  border: none;
  background-color: #fff;
  display: block;
  content: "";
  float: left;
  margin-right: 10px;
}
input[type="checkbox"]:checked+label::before {
  box-shadow: inset 0px 0px 0px 3px #fff;
  background-color: #1f2223;
}

 /* ----------------------------------------------------------------------------------------------------
Super Form Reset
A couple of things to watch out for:
- IE8: If a text input doesn't have padding on all sides or none the text won't be centered.
- The default border sizes on text inputs in all UAs seem to be slightly different. You're better off using custom borders.
- You NEED to set the font-size and family on all form elements
- Search inputs need to have their appearance reset and the box-sizing set to content-box to match other UAs
- You can style the upload button in webkit using ::-webkit-file-upload-button
- ::-webkit-file-upload-button selectors can't be used in the same selector as normal ones. FF and IE freak out.
- IE: You don't need to fake inline-block with labels and form controls in IE. They function as inline-block.
- By turning off ::-webkit-search-decoration, it removes the extra whitespace on the left on search inputs
----------------------------------------------------------------------------------------------------*/

input,
label,
select,
button,
textarea
{
        margin:0;
        border:0;
        padding:0;
        display:inline-block;
        vertical-align:middle;
        white-space:normal;
        background:none;
        line-height:1;

        /* Browsers have different default form fonts */
        font-size:1em;
        font-family: "Assistant-Regular", Helvetica, Arial, sans-serif;
}

/* Remove the stupid outer glow in Webkit */
input:focus
{
        outline:0;
}

/* Box Sizing Reset
-----------------------------------------------*/

/* All of our custom controls should be what we expect them to be */
input,
textarea
{
        -webkit-box-sizing:content-box;
        -moz-box-sizing:content-box;
        box-sizing:content-box;
}

/* These elements are usually rendered a certain way by the browser */
button,
input[type=reset],
input[type=button],
input[type=submit],
input[type=checkbox],
input[type=radio],
select
{
        -webkit-box-sizing:border-box;
        -moz-box-sizing:border-box;
        box-sizing:border-box;
}

/* Text Inputs
-----------------------------------------------*/

input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=range],
input[type=search],
input[type=tel],
input[type=text],
input[type=time],
input[type=url],
input[type=week]
{
}

/* Button Controls
-----------------------------------------------*/

input[type=checkbox],
input[type=radio]
{
        width:13px;
        height:13px;
  border-radius: 50%;
}

/* File Uploads
-----------------------------------------------*/

input[type=file]
{

}

/* Search Input
-----------------------------------------------*/

/* Make webkit render the search input like a normal text field */
input[type=search]
{
        -webkit-appearance:textfield;
        -webkit-box-sizing:content-box;
}

/* Turn off the recent search for webkit. It adds about 15px padding on the left */
::-webkit-search-decoration
{
        display:none;
}

/* Buttons
-----------------------------------------------*/

button,
input[type="reset"],
input[type="button"],
input[type="submit"]
{
        /* Fix IE7 display bug */
        overflow:visible;
        width:auto;
}

/* IE8 and FF freak out if this rule is within another selector */
::-webkit-file-upload-button
{
        padding:0;
        border:0;
        background:none;
}

/* Textarea
-----------------------------------------------*/

textarea
{
        /* Move the label to the top */
        vertical-align:top;

        /* Turn off scroll bars in IE unless needed */
        overflow:auto;
}

/* Selects
-----------------------------------------------*/

select
{

}

select[multiple]
{
        /* Move the label to the top */
        vertical-align:top;
}



@media only screen and (max-width: 790px) {

.form-container fieldset, #front-webform .fieldset-wrapper .form-item-name, .path-frontpage .fieldset-wrapper .form-item-email {
	float: none; width: 100%; border: none; overflow: hidden;
}
.form-type-webform-terms-of-service { width: 100%; }
#edit-actions { float: none; margin: 10px 0px 30px 0px; }
}
