{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
  ]
%}
{% block paragraph %}
    <div{{ attributes.addClass(classes) }}>
      <div class="wrapper">
    {% block content %}
     {{ content }}
     <div class="clear"></div>
     <div class="centered"><div class="triangle"></div></div>
    {% endblock %}
  </div>
 </div>
{% endblock paragraph %}
