{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
  ]
%}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    {% block content %}

       	<div class="wrapper">
          <div class="flexbox-container">
            <div class="column1">{{ content.field_linker_block }}</div>
            <div class="column2">{{ content.field_rechter_block }}</div>
          </div>
        </div>

    {% endblock %}
  </div>
{% endblock paragraph %}
