{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
  ]
%}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
  <div class="wrapper">
    {% block content %}
    <div class="table-cell">
    {{ content.field_bildauswahl }}
        <div class="teaserbild1 table-row">
         </div>
        <div class="text1 table-row">
        {{ content.field_text }}
        </div>
      </div>
      <div class="clear"></div>
      

    {% endblock %}
  </div>
 </div>
<div class="clear"></div>
{% endblock paragraph %}
